.form-input {
  min-height: 200px;
}

.container-ptkdev-widget {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.form-input-container {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}
